<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Author</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr> -->
      <tr *ngFor="let commit of data; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td style="white-space:pre;">{{_getDateAndTime(commit.author.date)}}</td>
        <td>{{commit.author.name}}</td>
        <td>{{commit.message}}</td>
      </tr>
    </tbody>
  </table>
  